@font-face {
  font-family: "Permanent Marker";
  src: url(./fonts/PermanentMarker.ttf) format("truetype"),
    url(./fonts/PermanentMarker.woff) format("woff");
}

body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  background: #eeeeee;
}

.header {
  height: 100vh;
  /* add missing declarations */
  background-image:url(./images/beach.jpg);
  background-size: cover;
  background-position: center ;

}

/* add a CSS rule for the page title here */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 790px;
  margin: 100px auto 50px;
  background-position: cover;
}

.pageTitle {
  font-family: "Permanent Marker", cursive;
  font-size:140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

/* add CSS rules for cards and their content here */
/*Card itself*/
.card {
  /* height: 200px;
  object-fit: contain; */
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 132, 255, 0.4); 
}
/* card title */
.card-title{
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

/* card description */
.card-description{
  font-size: 16px;
}

.card-image {
  height: 173px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
}

.footer {
  display: flex;
  /* add missing declarations */

  min-height: 300px;
  background-color: #000000;
}

.footer p {
  font-size: 24px;
  color: #ffffff;
  margin: auto;
}

/* add a CSS rule for the footer signature */
